.controls {
    opacity: 1;
    width: 100%;
    position: absolute;
    bottom: 20px;
    left: auto;
    display: flex;
}

.player {
    position: absolute;
    width: 100%;
}

.video {
    width: 100%;
}

.social {
    width: 100%;
    position: absolute;
}

.container {
    top: 50%;
}
