button:hover,
button:focus {
    box-shadow: inset 1px 1px 2px black;
}

button:active {
    box-shadow: inset 3px 3px 2px black;
}

.active:before {
    color: red;
}

button,
.controls {
    background: linear-gradient(to bottom, #222, #666);
}

button:before {
    font-family: HeydingsControlsRegular;
    font-size: 20px;
    position: relative;
    content: attr(data-icon);
    color: #aaa;
    text-shadow: 1px 1px 0px black;
}

button {
    position: relative;
    border: 0;
    flex: 1;
    outline: none;
}

.play {
    border-radius: 10px 0 0 10px;
}

.play:before {
    font-size: 22px;
}

.fwd {
    border-radius: 0 10px 10px 0;
}

.rwd {
    border-radius: 0 10px 10px 0;
}

.stop {
    border-radius: 0 10px 10px 0;
}
