.timeline {
    height: 55px;
    width: 100%;
    line-height: 38px;
    font-size: 10px;
    font-family: monospace;
    text-shadow: 1px 1px 0px white;
    color: white;
    flex: 5;
    position: relative;
}

.progress {
    position: absolute;
    background-color: white;
    left: 0;
    top: 0;
    width: 0;
    height: 55px;
    z-index: 2;
}

.currentTime {
    position: absolute;
    z-index: 3;
    left: 19px;
}
button,
.timeline {
    cursor: pointer;
    line-height: 20px;
    align-self: center;
    height: 55px;
    box-shadow: inset 0 -3px 8px white;
}
