.currentTime {
    position: absolute;
    z-index: 3;
    left: 19px;
    color: black;
}

.progress-bar {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100px;
    align-items: center;
    align-self: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 30px;
    width: 100%;
}

.progress-bar-inner {
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #fff;
    height: 30px;
    width: 0;
}
